<html (mousemove)="onMove()">

<table>
<tr>
   <td><label>Nome </label></td>
   <td><input [(ngModel)]="relatorio.profissional_nome" name="namebox"></td>
   <td *ngIf="nomeDuplicado">
     Já existe um relatorio desse Profissional
   </td>
   <td *ngIf="nomeNaoCadastrado">
      Não existe um relatorio com esse Profissional
   </td>
   <td><button (click)="criarrelatorio(relatorio)">Adicionar</button></td>
</tr>
<tr>
   <td><label>Especialidade </label></td>
   <td><input [(ngModel)]="relatorio.especialidade" name="especialidadebox"></td>
   
</tr>

</table>

<table>
<tr *ngIf="relatorios.length > 0">
   <th>profissional_nome</th>
   <th>especialidade</th>
</tr>
<tr *ngFor="let a of relatorios" name="profissionallist">
   <td name="namelist">{{a.profissional_nome}}</td>
   <td name="especialidadelist">{{a.especialidade}}</td>
   <td><button (click)="removerrelatorio(a)">Remover</button></td>
   <td name="checklist"><input type="checkbox"></td>
   <a name="dados" routerLink="/dados">Visualizar</a>
</tr>
</table>

</html>